:root {
    --bg: #0d0c22;
    --text: #fff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--bg);
    color: var(--text);
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1536px;
    margin: auto;
    padding: 0 50px 0 50px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (max-width: 1536px) {
    .container {
        width: 1366px;
    }
}

@media (max-width: 1366px) {
    .container {
        width: 1280px;
    }
}

@media (max-width: 1280px) {
    .container {
        width: 1024px;
        padding: 0 20px 0 20px;
    }
}

@media (max-width: 1280px) {
    .container {
        width: 768px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 640px;
    }
}

@media (max-width: 640px) {
    .container {
        width: 475px;
    }
}